<!DOCTYPE html>
<html>
<head>
    <title>Printers status</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
    <script src="//d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navBar">
    <ul class="navMenu">
        <li class="menuItem">
            <a class="itemLink first" href="/">
                <span class="glyphicon glyphicon-home itemIcon"></span>
                Printerid
            </a>
        </li>
        <li class="menuItem">
            <a class="itemLink" href="/floors">
                <span class="glyphicon glyphicon-book itemIcon"></span>
                Korrused
            </a>
        </li>
        <li class="menuItem">
            <a class="itemLink " href="/admin">
                <span class="glyphicon glyphicon glyphicon-th-list itemIcon"></span>
                Admin
            </a>
        </li>
        <li class="menuItem last">
            <div class="dropdown">
                <button class="dropbtn">Korrused</button>
                <div class="dropdown-content">
                    <a class="" href="/1k">1</a>
                    <a class="" href="/2k">2</a>
                    <a class="" href="/3k">3</a>
                    <a class="" href="/4k">4</a>
                    <a class="" href="/5k">5</a>
                    <a class="" href="/6k">6</a>
                    <a class="" href="/10k">10</a>
                    <a class="" href="/12k">12</a>
                </div>
            </div>
        </li>
    </ul>
</nav>
{{{body}}}
<script src="/framework/jquery-3.2.1.min%20.js"></script>
<script src="/js/front-end.js"></script>
</body>
</html>
