<style>
    body {
        background-color: #0e0a0f;
    }
</style>

<div class="container" id="container" style="background-color: #0A0D13">
    <div class="printer">
        <div class="title"><a href="//{{this.ip}}/" target="_blank">{{this.name}}<br>{{this.ip}}</a></div>
        <section class="black-precentage-section printer-section">
            <article class="printer-map">
                <div>
                    <div class="led-box led-positioning" style="top: 577px;left: 1258px;">
                        {{#ifEquals printer_name 'pr_tln_12k_HP_MFP252n'}}
                        <div class="led-green"></div>
                        {{else}}
                        <div class="led-blue"></div>
                        {{/ifEquals}}
                    </div>
                    <img src="/images/12th-floor.png" width="1640" height="1000" alt="12-floor" usemap="#12_floor">
                </div>
            </article>
        </section>
    </div>
</div>
<form action="/">
    <button>BACK</button>
</form>