

$yellow: #f1c40f;
$lime: #76c900;
$navy: #0a4069;
$cyan: #57caf4;
$red: #ec008c;
$white: #fefefe;
$gray: #444;
$black: #000;
$lightGray: lighten($gray, 30);

.yellow-bar {
  background-color: #f1c40f;
}

.lime-bar {
  background-color: #76c900;
}

.navy-bar {
  background-color: #0a4069;
}

.cyan-bar {
  background-color: #57caf4;
}

.red-bar {
  background-color: #ec008c;
}

.white-bar {
  background-color: #fefefe;
}

.gray-bar {
  background-color: #444;
}

.black-bar {
  background-color: #000;
}

.lightGray-bar {
  background-color: lighten($gray, 30);
}

.gray-bar-map {
  background-color: rgba(68, 68, 68, 0.6);
}

.cyan-bar-map {
  background-color: rgba(87, 202, 244, 0.6);
}

.magenta-bar-map {
  background-color: rgba(236, 0, 140, 0.6);
}

.yellow-bar-map {
  background-color: rgba(241, 196, 15, 0.6);
}

$transitionDuration: .3s;
$transition: all $transitionDuration ease-in-out;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1em;
  margin: 0;
  text-align: center;
  color: $gray;
  background: linear-gradient(to right, #8e9eab, #eef2f3);
 /* #808080, #4CA1AF
  #1D4350, #A43931
  #4CA1AF, #C4E0E5
  #8e9eab, #eef2f3*/
}

h1 {
  font-size: 2.5em;
  margin: 2em 0 .5em;
}

h2 {
  margin-bottom: 3em;
}

em, strong {
  font-weight: 700;
}

header p {
  margin-bottom: 0;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -3em;
  padding: 0;
  &:last-of-type {
    margin-bottom: 0;
  }
  article {
    align-self: center;
    width: 20em;
    margin-bottom: 2em;
    p,
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

p {
  line-height: 1.5em;
  span {
    display: block;
  }
}

#container {
  flex-flow: wrap;
}

.container {
  flex-flow: wrap;
  width: 100%;
  z-index: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4em;
}

/*
START // CHART'S RULES
 -> "if you're picking code, don't forget the variables :)"
*/

.chart {
  font-size: 1em;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  backface-visibility: visible;
}

$faceColor: rgba($white, .3);
$growColor: rgba($red, .6);

.bar {
  font-size: 1em;
  position: relative;
  height: 10em;
  transition: $transition;
  transform: rotateX(60deg) rotateY(0deg);
  transform-style: preserve-3d;

  .face {
    font-size: 2em;
    position: relative;
    width: 100%;
    height: 2em;
    background-color: $faceColor;

    &.side-a,
    &.side-b {
      width: 2em;
    }
  }
  .side-a {
    transform: rotateX(90deg) rotateY(-90deg) translateX(2em) translateY(1em) translateZ(1em);
  }
  .side-b {
    transform: rotateX(90deg) rotateY(-90deg) translateX(4em) translateY(1em) translateZ(-1em);
    position: absolute;
    right: 0;
  }
  .side-0 {
    transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(-1em);
  }
  .side-1 {
    transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(3em);
  }
  .top {
    transform: rotateX(0deg) rotateY(0) translateX(0em) translateY(4em) translateZ(2em);
  }
  .floor {
    box-shadow: 0 .1em 0.6em rgba(0, 0, 0, .3), .6em -0.5em 3em rgba(0, 0, 0, .3), 1em -1em 8em $white;
  }
}

.growing-bar {
  transition: $transition;
  background-color: $growColor;
  width: 100%;
  height: 2em;
  &-adjustment {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
  }
}

.p-adjust {
  margin: 0;
  &-black {
    margin: 0;
    color: #fff;
  }
}

@mixin drawSkin($color, $name) {
  .bar.#{$name} {
    .side-a,
      // &.bar-100 .side-b,
    .growing-bar {
      background-color: rgba($color, .6);
    }
    .side-0 .growing-bar {
      box-shadow: -0.5em -1.5em 4em $color;
    }
    .floor .growing-bar {
      box-shadow: 0 0 2em $color;
    }
  }
}

@mixin drawFaces($color, $name) {
  .chart .bar.#{$name} .face {
    background-color: rgba($color, .2);
  }
}

@include drawSkin(rgba($yellow, .8), 'yellow');
/*@include drawSkin(rgba($red, .8), 'red');*/
@include drawSkin($cyan, 'cyan');
@include drawSkin(rgba($navy, .8), 'navy');
@include drawSkin($lime, 'lime');
@include drawSkin($white, 'white');
@include drawSkin($gray, 'gray');
@include drawSkin($gray, 'gray');

@include drawFaces(rgba($yellow, .6), 'yellow-face');
@include drawFaces($lime, 'lime-face');
/*@include drawFaces(rgba($red, .6), 'red-face');*/
@include drawFaces(rgba($navy, .6), 'navy-face');
@include drawFaces($cyan, 'cyan-face');
@include drawFaces($gray, 'gray-face');
@include drawFaces($lightGray, 'lightGray-face');
//@include drawFaces(, 'lightGray-face');
.blink-red {
  background-color: #ff0505;
  animation: blinkRed 4s infinite;
}

@keyframes blinkRed {
  from {
    background-color: #ff0505;
  }
  50% {
    background-color: #aa020d;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #aa0008 0 -1px 9px, #ff0505 0 2px 0;
  }
  to {
    background-color: #ff0505;
  }
}

@for $i from 0 to 101 {
  .bar-#{$i} {
    .growing-bar {
      width: percentage($i/100);
    }
  }
}

/*
END // CHART'S RULES
*/

.chart.grid {
  display: flex;
  flex-direction: row;
  .exercise {

    flex: 0 0 100%;
    display: flex;
    .bar {
      flex: 1;
      margin: 0 .5em;
      &:nth-child(2) {
        z-index: 8;
        flex: 1 0 40%;
      }
      &:first-child {
        z-index: 10;
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/*input[id='red']:checked ~ .chart
{
  @extend .bar.red;
}*/
input[id='cyan']:checked ~ .chart {
  @extend .bar.cyan;
}

input[id='lime']:checked ~ .chart {
  @extend .bar.lime;
}

input[id='pos-0']:checked ~ .chart {
  @extend .bar-25;
}

input[id='pos-1']:checked ~ .chart {
  @extend .bar-50;
}

input[id='pos-2']:checked ~ .chart {
  @extend .bar-75;
}

input[id='pos-3']:checked ~ .chart {
  @extend .bar-100;
}

input[id='exercise-2']:checked ~ .chart.grid {
  .exercise .bar {
    &:nth-child(1) {
      flex: 1 0 0;
      @extend .bar-20;
    }
    &:nth-child(2) {
      flex: 1;
      @extend .bar-50;
    }
    &:nth-child(3) {
      flex: 1 0 30%;
      @extend .bar-80;
    }
  }
}

input[id='exercise-3']:checked ~ .chart.grid {
  .exercise .bar {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      flex: 1;
      @extend .bar-70;
    }
  }
}

input[id='exercise-4']:checked ~ .chart.grid {
  .exercise .bar {
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 0 30%;
      @extend .bar-50;
    }
    &:nth-child(3) {
      flex: 1;
      @extend .bar-100;
    }
  }
}

.led-green {
  display: inline-block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
  -webkit-animation: blinkGreen 4s infinite;
  -moz-animation: blinkGreen 4s infinite;
  -o-animation: blinkGreen 4s infinite;
  animation: blinkGreen 4s infinite;
}

@-webkit-keyframes blinkGreen {
  from {
    background-color: #01ff0b;
  }
  50% {
    background-color: #06aa00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #06aa00 0 -1px 9px, #36ff00 0 2px 0;
  }
  to {
    background-color: #01ff0b;
  }
}

@-moz-keyframes blinkGreen {
  from {
    background-color: #01ff0b;
  }
  50% {
    background-color: #06aa00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #06aa00 0 -1px 9px, #36ff00 0 2px 0;
  }
  to {
    background-color: #01ff0b;
  }
}

@-ms-keyframes blinkGreen {
  from {
    background-color: #01ff0b;
  }
  50% {
    background-color: #06aa00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #06aa00 0 -1px 9px, #36ff00 0 2px 0;
  }
  to {
    background-color: #01ff0b;
  }
}

@-o-keyframes blinkGreen {
  from {
    background-color: #01ff0b;
  }
  50% {
    background-color: #06aa00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #06aa00 0 -1px 9px, #36ff00 0 2px 0;
  }
  to {
    background-color: #01ff0b;
  }
}

@keyframes blinkGreen {
  from {
    background-color: #01ff0b;
  }
  50% {
    background-color: #06aa00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #06aa00 0 -1px 9px, #36ff00 0 2px 0;
  }
  to {
    background-color: #01ff0b;
  }
}

.internet-access-notification {
  color: #00ff00;
  display: inline-block;
}

.led-box {
  float: right;
  display: inline-block;
}

.led-red {
  display: inline-block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

@-moz-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

@-ms-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

@-o-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

@keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

.plus-minus-input {
  align-items: center;

  .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
  }

  .input-group-button {
    .circle {
      border-radius: 50%;
      padding: 0.25em 0.8em;
    }
  }
}

.cartridge {
  margin: 40px 0 0 0;
  display: block;
  width: 260px;
  font-size: 14px;
}

.bar-cartridge {
  margin: -50px 0 0 0;
}

.quantity {
  position: relative;
  z-index: 22;
  height: 40px;
  margin: 42px 0 -53px 0;
  &-cartridge-info {
    font-size: 14.6px;
    text-align: left;
    bottom: 10px;
    position: absolute;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity input {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 60px;
  height: 33px;
  line-height: 1.65;
  float: left;
  display: block;
  margin: 0;
  padding: 0 0 0 20px;
  border: 1px solid #eee;
  border-radius: 3px;
  z-index: 22;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  position: absolute;
  right: 0;
  top: -2px;
  height: 30px;
  z-index: 22;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round');


/* animated button */
.button-special-style {
  font-family: 'Varela Round', sans-serif;
  height: 25px;
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  border: none;
  border-radius: 3px;
  outline: none;
  background: linear-gradient(45deg, #d350db, teal, #d350db);
  background-size: 400% 400%;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 15px 0 0 0;

  &:hover {
    animation: gradient 10s ease infinite;
    font-size: 14px;
  }
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}

/* printer wrapping styles */
.black-precentage-section {
  margin-top: -35px;
}

/* led lights */
.led-positioning {
  position: absolute;
}

.led-blue {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}

.navBar {
  text-align: center;
  display: inline-block;
  background-color: #444;
  margin: 40px auto 0 auto;
  border-radius: 3px;
  box-shadow: 0 8px 30px -4px hsla(0, 0%, 0%, 0.6);
}

.navBar .navMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navBar .navMenu .menuItem {
  display: inline-block;
  margin: 0;
}

.navBar .navMenu .menuItem .itemLink {
  display: block;
  color: #fff;
  text-decoration: none;
  height: 50px;
  width: 100px;
}

.navBar .navMenu .menuItem .itemLink:hover {
  background-color: #999;
  color: #444;
  transition: all .4s;
}

.navBar .navMenu .menuItem .first {
  border-radius: 3px 0 0 3px;
}

.navBar .navMenu .menuItem .last {
  border-radius: 0 3px 3px 0;
}

.navBar .navMenu .menuItem .itemLink .itemIcon {
  display: block;
  padding: 4px 0 0 0;
  line-height: 20px;
}

//hides the buttton on the floor plan
.hidden-button {
  padding: 0;
  float: left;
}

.additional-data {
  color: #fff;
  position: absolute;
  background-color: rgb(82, 75, 75);
  margin: 0 0 20px 30px;
  border-radius: 4px;
  padding: 3px;
  display: none;
  z-index: 5;
}

//admin styles
.admin_input {
  background-color: transparent;
  border: transparent;
}

table {
  text-align: center;
  border-collapse: collapse;
  margin: 20px auto;

  background: rgba(255, 255, 255, 0.15);
}

td, th {
  padding: 16px;
  width: 220px;
  line-height: 18px;
  font-weight: 300;
}

thead {
  display: block;
  background: rgba(255, 255, 255, 0.5);
}

th {
  border-bottom: 0;
  color: #444;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  text-align: center;
}

th:last-child {
  width: 219px;
}

tbody {
  width: 100%;
  overflow: auto;
  display: block;
}

tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.15);
}

tr td:first-child {
  font-weight: bold;
}

//admin form styles

#contact:active {
  background: #444;
}

#contactForm {
  display: none;
  color: black;
  padding: 2em;
  width: 400px;
  text-align: center;
  background-color: #565656;
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%)
}

.formBtn {
  width: 140px;
  display: inline-block;
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}
/*input-admin-search*/
.input {
  margin: .8em auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;
  display: block;
  width: 280px;
  padding: .4em;
  &-admin{
    &-search{
      position: relative;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      margin: 20px 0 0 0;
    }
  }
}

.add-printer-text {
  color: #fff;
}

/* */
.Main {
  background: #222;
}

#Menu {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

/*dropdown button */

.dropbtn {
  background-color: #444444;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  height: 50px;
  display: block;
  width: 100px;
  margin: 0 10px 0 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #999;
  color: #444;
  transition: all .4s;
}

.left, .top {
  width: 100%;
  color: gray;
  text-align: center;
}

.line{
  &-top{
    border-left: 3px solid #307902;
    position: absolute;
    left: -18px;
    margin-left: -1px;
    bottom: 100%;
  }
  &-left{
    position: absolute;
    right: 195px;
    top: -10px;
    border-top: 3px solid #36708e;
  }
}

.progress {
  margin: 10px 0 0 0;
}

.btn{
  &-settings{
    margin: 10px;
    width: 173px;
    height: 50px;
  }
  &-color{
    color: #ffffff;
  }
  &-checkbox{
    &-filter{
      display: inline-block;
      margin: 0 1px 0 0;
    }
  }
}

.printer {
  display: inline-table;
  margin: 30px;
  float: left;
  position: relative;
  &-map{
    width: 100%;
  }
  &-section{
    width: 2000px;
    height: 1000px;
  }
  &-marker{
    &-positioning{
      width: 160px;
      margin: 10px 0 10px 0;
    }
  }
}